.custom-url-field {
    display: inline;
    max-width: 200px;
}

.site-url-field {
    font-weight: bold;
    display: inline;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

input#shorten {
    max-width: 100%;
    width: 200px;
}

.check-btn {
    margin-bottom: 5px;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}
