.custom-url-field {
    display: inline;
    width: 100px;
}

.site-url-field {
    color: green;
    display: inline;
}

.long-link-input {
    margin-bottom: 25px;
}

.tips {
    margin-top: 20px;
}

#link-availability-status {
    margin-bottom: 20px;
}

.visibility-toggler {
    margin-bottom: 2em;
}

#shorten {
    min-width: 300px;
}

@media (max-width: 500px) {
    #shorten {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }

    #check-link-availability {
        width: 100%;
    }
}

/* @media (max-width: 768px) {
    #shorten {
        width: 100%;
    }

    #check-link-availability {
        width: 100%;
    }
} */
